<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prayer Times</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Digital-7&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='favicon.png') }}"
    />
  </head>

  <body>
    <!-- Container for the entire page -->
    <div class="container">
      <!-- Time and Date Display -->
      <div class="time-display">
        <span class="time-main">06:50</span>
        <span class="time-sub">
            <span class="seconds">31</span>
        </span>
      </div>
      <div class="date-container">
        <div class="islamic-date">{{ islamic_date }}</div>
        <div class="gregorian-date">{{ current_date }}</div>
      </div>
      <div class="divider"></div>
      <!-- Prayer Times Section -->
      <div class="prayer-times">
        <div class="beginning">
          <h2>BEGINNING</h2>
          <div class="prayer-time-value beginning" data-time="{{ today_prayer_times[3] }}">{{ today_prayer_times[3] }}</div>
          <div class="prayer-time-value beginning" data-time="{{ today_prayer_times[5] }}">{{ today_prayer_times[5] }}</div>
          <div class="prayer-time-value beginning" data-time="{{ today_prayer_times[6] }}">{{ today_prayer_times[6] }}</div>
          <div class="prayer-time-value beginning" data-time="{{ today_prayer_times[7] }}">{{ today_prayer_times[7] }}</div>
          <div class="prayer-time-value beginning" data-time="{{ today_prayer_times[8] }}">{{ today_prayer_times[8] }}</div>
          <div class="prayer-time-value beginning">&nbsp;</div>
        </div>
                <div class="prayer">
          <h2>&nbsp;</h2>
          <div class="prayer-time-value prayer">
            <span class="english">FAJR</span>
            <span class="arabic">الفجر</span>
          </div>
          <div class="prayer-time-value prayer">
            <span class="english">ZOHR</span>
            <span class="arabic">الظهر</span>
          </div>
          <div class="prayer-time-value prayer">
            <span class="english">ASAR</span>
            <span class="arabic">العصر</span>
          </div>
          <div class="prayer-time-value prayer">
            <span class="english">MAGRIB</span>
            <span class="arabic">المغرب</span>
          </div>
          <div class="prayer-time-value prayer">
            <span class="english">ISHA</span>
            <span class="arabic">العشاء</span>
          </div>
          <div class="prayer-time-value prayer">
            <span class="english">JUMU'AH</span>
            <span class="arabic">الجمعة</span>
          </div>
        </div>
        <div class="jamaah">
          <h2>JAMAAH</h2>
          <div class="prayer-time-value jamaah" data-time="{{ today_prayer_times[9] }}">{{ today_prayer_times[9] }}</div>
          <div class="prayer-time-value jamaah" data-time="{{ today_prayer_times[10] }}">{{ today_prayer_times[10] }}</div>
          <div class="prayer-time-value jamaah" data-time="{{ today_prayer_times[11] }}">{{ today_prayer_times[11] }}</div>
          <div class="prayer-time-value jamaah" data-time="{{ today_prayer_times[12] }}">{{ today_prayer_times[12] }}</div>
          <div class="prayer-time-value jamaah" data-time="{{ today_prayer_times[13] }}">{{ today_prayer_times[13] }}</div>
          <div class="prayer-time-value jamaah" data-time="13:20">13:20</div>
              </div>
    </div>
    <div class="important-times">
      <div class="divider"></div>
      <div class="times-container">
        <div class="time-box">
          <div class="time-label">SEHRI ENDS</div>
          <div class="time-value">{{ important_times.sehri_ends }}</div>
        </div>
        <div class="time-box">
          <div class="time-label">SUNRISE</div>
          <div class="time-value" data-time="{{ important_times.sunrise }}">{{ important_times.sunrise }}</div>
        </div>
        <div class="time-box">
          <div class="time-label">ZAWAL</div>
          <div class="time-value" data-time="{{ important_times.noon }}">{{ important_times.noon }}</div>        </div>
      </div>
    </div>
    <!-- Announcement Scroll -->
    <div class="announcement">
      <p id="announcement-text">
        Silence, please. We are in the House of Allah. Kindly turn off your
        mobile.
      </p>
    </div>
    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
